course-projects/3_creating_object_oriented_ts_code/examples/object-oriented/2 - Introduction to Object-Oriented Programming in TypeScript/package-lock.json
course-projects/3_creating_object_oriented_ts_code/examples/object-oriented/2 - Introduction to Object-Oriented Programming in TypeScript/dist/bundle.js
